*.txt
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
*.gitkeep
*.log
*.class
*.interp
*.tokens
*.MF
src/start/(deprecated)breakpoints/.antlr/
src/start/(deprecated)breakpoints/javax/
src/start/(deprecated)breakpoints/META-INF/
src/start/(deprecated)breakpoints/org/
src/start/breakpoints(current)/.antlr/
src/start/breakpoints(current)/javax/
src/start/breakpoints(current)/META-INF/
src/start/breakpoints(current)/org/
src/start/line-by-line(deprecated)/.antlr/
src/start/line-by-line(deprecated)/javax/
src/start/line-by-line(deprecated)/META-INF/
src/start/line-by-line(deprecated)/org/

# IDE - VSCode
.vscode
