*.txt
!requirements.txt
!src/start/CI-CD-testing/standard/*.txt
*.pyc
*.iml
*.json
*.pyo
*.pyd
__pycache__/
*.sqlite3
*.gitkeep
*.log
*.class
*.interp
*.tokens
*.MF
*.csv
src/start/breakpoints/.antlr/
src/start/breakpoints/javax/
src/start/breakpoints/META-INF/
src/start/breakpoints/org/
/node_modules/
/out/
/.idea/

# IDE - VSCode
.vscode
/src/backend/node_modules
