{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>START | Code</title>
        <link rel="shortcut icon" href="#" />

        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <link rel="stylesheet" href="{% static 'css/sb-admin-2.css' %}" />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    </head>
    <body onload="genUUID()">
        {% include 'header.html' %}

        <div id="wrapper" class="d-flex flex-column">
            <div id="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-md-6 mb-3">
                            <div id="ideContainer" class="card card-main shadow mb-4">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">IDE</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            ?
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink" style="">
                                            <div class="dropdown-header" style="font-size: 1.2rem;">IDE:</div>
                                            <p>The IDE is where you will write, run and debug your code from.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div id="editor"></div>
                                    <div class="row my-3">
                                        <div class="col-3">
                                            {% csrf_token %}
                                            <button class="ide-btn" id="getCode">Run</button>
                                        </div>
                                        <div class="col-9 text-right">
                                            {% csrf_token %}
                                            <button class="ide-btn btn-primary disabled" id="step">Continue</button>
                                            {% csrf_token %}
                                            <button class="ide-btn btn-danger disabled" id="cancel">Cancel</button>
                                        </div>
                                    </div>
                                    {% if problem_id is not None and problem_id|add:"0" < 10 %}
                                        <div class="row my-1">
                                            <div class="col-12 text-right">
                                                <button class="ide-btn" id="next">Next Problem</button>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="row my-1">
                                        <div class="col-12">
                                            Debug Mode:
                                        </div>
                                    </div>
                                    <div class="row tw-toggle my-1">
                                        <div class="col-12 col-sm-4">
                                            <input id="toggle1" checked type="radio" name="toggle" value="false">
                                            <label for="toggle1" class="toggle toggle-yes">
                                                Normal
                                            </label>
                                        </div>
                                        <div class="col-12 col-sm-4">
                                            <input id="toggle2" type="radio" name="toggle" value="-1">
                                            <label for="toggle2" class="toggle toggle-yes">
                                                Line-By-Line
                                            </label>
                                        </div>
                                        <div class="col-12 col-sm-4">
                                            <input id="toggle3" type="radio" name="toggle" value="true">
                                            <label for="toggle3" class="toggle toggle-yes">
                                                Dynamic
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col-12" id="debugInfo">
                                            <p class="d-inline">Debug Mode is currently set to</p>
                                            <p class="d-inline text-primary">Normal</p>
                                            <p class="d-inline">. Code will run from start to finish without pausing.</p>
                                        </div>
                                    </div>
                                    {% if user.is_authenticated %}
                                        <div class="row my-3">
                                            <div class="col-12">Save or Load session:</div>
                                            <div class="col-12">Here you can save your current code for future use, or load a previously saved session.</div>
                                        </div>
                                        <div class="row my-1">
                                            <div class="col-12">
                                                <button class="ide-btn" id="save">Save</button>
                                                <button class="ide-btn" id="load">Load</button>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            {% if problem_id %}
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                        <h6 class="m-0 font-weight-bold text-primary">Problem {{ problem_id }}</h6>
                                        <div class="dropdown no-arrow">
                                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                ?
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink" style="">
                                                <div class="dropdown-header" style="font-size: 1.2rem;">Target Output</div>
                                                <p>This is the output you want your program to output.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <p id="problem"></p>
                                        <p>Target output:</p>
                                        <div id="targetOutput"></div>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="card shadow mb-4">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Result</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            ?
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink" style="">
                                            <div class="dropdown-header" style="font-size: 1.2rem;">Result</div>
                                            <p>This is where your programs output (if any) will appear.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div id="result"></div>
                                </div>
                            </div>
                            <div id="memoryContainer" class="card card-main shadow mb-4">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Memory</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            ?
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink" style="">
                                            <div class="dropdown-header" style="font-size: 1.2rem;">Memory</div>
                                            <p>This is where you can track the current value of each variable in your program. This is a great way to debug.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div id="memoryTable">
                                        <table class="table-bordered" id="memoryContent">
                                            <thead id="memoryHeader">
                                                <tr><th>Variable</th><th>Value</th></tr>
                                            <tbody id="memoryBody">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'footer.html' %}
        
        <script src="{% static 'js/ace-src-noconflict/ace.js' %}" type="text/javascript" charset="utf-8"></script>
        <script src="{% static 'js/start-web-app/users.js' %}" type="text/javascript" charset="utf-8"></script>
        <script src="{% static 'js/start-web-app/start-ide.js' %}" type="text/javascript" charset="utf-8"></script>
        <script src="{% static 'js/start-web-app/sockets.js' %}" type="text/javascript" charset="utf-8"></script>
        <script src="{% static 'js/start-web-app/modal.js' %}" type="text/javascript" charset="utf-8"></script>
        <script src="{% static 'js/start-web-app/message.js' %}" type="text/javascript" charset="utf-8"></script>
        <script src="{% static 'js/start-web-app/problem-solving.js' %}" type="text/javascript" charset="utf-8"></script>
        <script src="{% static 'js/sb-admin-2/sb-admin-2.js' %}" type="text/javascript" charset="utf-8"></script>

        <script src="{% static 'js/sb-admin-2/vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'js/sb-admin-2/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/sb-admin-2/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
        <script>

            (function () {
                getCode.addEventListener('click', uploadCode);
                step.addEventListener('click', stepFunc)
                cancel.addEventListener('click', cancelFunc)
                document.querySelectorAll('input[type="radio"]').forEach(function(input) {
                    input.addEventListener('change', changeDebugMode)
                });
            })();

            $(document).ready(function() {
                var f = $('#ideContainer').height();
                $('#memoryContainer').height(f);
            });

        </script>
        {% if user.is_authenticated %}
            <script>
                (function () {
                    save.addEventListener('click', saveSession)
                    load.addEventListener('click', loadSession)
                })();
            </script>
        {% endif %}
        {% if problem_id is not None and problem_id|add:"0" < 10 %}
            <script>
                next.addEventListener('click', function() {
                    nextProblem = parseInt("{{ problem_id }}") + 1
                    window.location.href = '/code/' + nextProblem + '/'
                })
            </script>
        {% endif %}
    </body>
</html>