{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>START | Problems</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <link rel="stylesheet" href="{% static 'css/sb-admin-2.css' %}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    </head>
    <body>
        {% include 'header.html' %}

        <div id="wrapper" class="d-flex flex-column">
            <div id="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card card-main shadow mb-4">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Learn</h6>
                                </div>
                                <div class="card-body">
                                    <p>Here you can find various programming challenges to test what you have learned. Solutions to these problems can be found <a href="{% url 'solutions' %}">here.</a></p>
                                    <br>
                                    <h3>Problems</h3>
                                    <hr>
                                    <div>
                                        <h5 class="mb-3">Problem 1: Hello World!</h5>
                                        <p>Write a program that outputs the message “Hello World” using the built-in write() function.<br>Target output:</p>
                                        <div id="result1">Hello World</div>
                                        <br>
                                        <a href="{% url 'code' '1' %}" class="btn btn-primary">Try it yourself</a>
                                        <a class="solved" href="#" class="btn btn-primary"></a>
                                    </div>
                                    <hr>
                                    <div>
                                        <h5 class="mb-3">Problem 2: Your Name Here</h5>
                                        <p>Write a program that outputs your own name and age in the message: "My name is &lt;name&gt; and I am &lt;age&gt;". Make use of the variables "name" and "age" to store this information.<br>Target output:</p>
                                        <div id="result2">My name is &lt;name&gt; and I am &lt;age&gt;</div>
                                        <br>
                                        <a href="{% url 'code' '2' %}" class="btn btn-primary">Try it yourself</a>
                                        <a class="solved" href="#" class="btn btn-primary"></a>
                                    </div>
                                    <hr>
                                    <div>
                                        <h5 class="mb-3">Problem 3: Bank Balance</h5>
                                        <p>
                                            Write a program to mimic the way in which money enters and leaves your bank account. Define your initial variable, balance, to be 100. Then, using each of these variables, update the value of the variable balance. At the end output your final balance. Hint: Payments are subtracted to your balance while incomes are added. Here is a list of 5 transactions to update with:
                                            <br>
                                            <ul>
                                                <li>rent is 50 (payment)</li>
                                                <li>coffee is 3 (payment)</li>
                                                <li>payCheck is 100 (income)</li>
                                                <li>schoolSupplies is 25 (payment)</li>
                                                <li>moneyTransfer is 30 (income)</li>
                                            </ul>
                                            Remember you can update a variable like follows:
                                            <br><br>
                                            <code>
                                                x is x
                                                <br>
                                                x is x + 1
                                            </code>
                                            <br><br>
                                            Target output:
                                        </p>
                                        <div id="result3">152</div>
                                        <br>
                                        <a href="{% url 'code' '3' %}" class="btn btn-primary">Try it yourself</a>
                                        <a class="solved" href="#" class="btn btn-primary"></a>
                                    </div>
                                    <hr>
                                    <div>
                                        <h5 class="mb-3">Problem 4: Even or Odd</h5>
                                        <p>
                                            Write a program to determine if a defined variable x, is even or is odd. Make use of an if/otherwise statement to solve this problem. Your output can be one of the following:
                                            <br>
                                            Target output:
                                        </p>
                                        <div id="result4">x is even

OR

x is odd</div>
                                        <br>
                                        <a href="{% url 'code' '4' %}" class="btn btn-primary">Try it yourself</a>
                                        <a class="solved" href="#" class="btn btn-primary"></a>
                                    </div>
                                    <hr>
                                    <div>
                                        <h5 class="mb-3">Problem 5: Temperature Converter</h5>
                                        <p>
                                            Write a program that converts temperature from Celsius to Fahrenheit. The steps to convert to Fahrenheit are as follows:
                                            <br>
                                            <ul>
                                                <li>Take your original number and multiply by 1.8</li>
                                                <li>Then add 32 to the result</li>
                                            </ul>
                                            Make use of a variables named "fahrenheit" and "celsius". Celsius should begin at 20. Your program should make use of the "mult" and "add" operators.
                                            <br>
                                            Target output:
                                        </p>
                                        <div id="result5">68.0</div>
                                        <br>
                                        <a href="{% url 'code' '5' %}" class="btn btn-primary">Try it yourself</a>
                                        <a class="solved" href="#" class="btn btn-primary"></a>
                                    </div>
                                    <hr>
                                    <div>
                                        <h5 class="mb-3">Problem 6: List Operations</h5>
                                        <p>
                                            Given we start with a list with the following value: [1,2,"x",1,2,3,"x",4,6,"x"]. As we can see, this list has gotten corrupted. We have the list repeating after the first 2 numbers, as well as a 6 instead of 5 at the end of the list. As well as these we have many corrupted x’s throughout. Make a program that removes all of these unwanted characters, and adds 5 correctly to the end of the list. Finally output the corrected list.
                                            <br>
                                            Hint: Make use of the remove and remove all function
                                            <br>
                                            Target output:
                                        </p>
                                        <div id="result6">[1, 2, 3, 4, 5]</div>
                                        <br>
                                        <a href="{% url 'code' '6' %}" class="btn btn-primary">Try it yourself</a>
                                        <a class="solved" href="#" class="btn btn-primary"></a>
                                    </div>
                                    <hr>
                                    <div>
                                        <h5 class="mb-3">Problem 7: Is List Index Even Or Odd</h5>
                                        <p>
                                            Given the following variable: list, [1,3,4,6,7,8,9], check each index and write “Even” if the number is even, and “Odd” if the number is odd. Your program should make use of a loop for each and an if/otherwise statement to solve this problem.
                                            <br>
                                            Target output:
                                        </p>
                                        <div id="result7">Odd
Odd                                            
Even
Even
Odd
Even
Odd</div>
                                        <br>
                                        <a href="{% url 'code' '7' %}" class="btn btn-primary">Try it yourself</a>
                                        <a class="solved" href="#" class="btn btn-primary"></a>
                                    </div>
                                    <hr>
                                    <div>
                                        <h5 class="mb-3">Problem 8: Count Evens</h5>
                                        <p>
                                            Define variables "index" to be 0 and "target" to be 20. Use a loop to check "index" to see if it is even. If it is increment another variable "count" by 1. At the end of the loop increment "index" by 1. Repeat this process until "index" is equal to 20. I.E. do not run the loop if "index" is equal to 20.
                                            <br>
                                            Target output:
                                        </p>
                                        <div id="result8">10</div>
                                        <br>
                                        <a href="{% url 'code' '8' %}" class="btn btn-primary">Try it yourself</a>
                                        <a class="solved" href="#" class="btn btn-primary"></a>
                                    </div>
                                    <hr>
                                    <div>
                                        <h5 class="mb-3">Problem 9: Reuse Add 2</h5>
                                        <p>
                                            Write a program which uses a function named "addTwo" to add two numbers together. Your program should contain the code:
                                            <br>
                                            <code>
                                                addTwo(2, 2)
                                                <br>
                                                addTwo(5, 3)
                                            </code>
                                            <br>
                                            Target output:
                                        </p>
                                        <div id="result9">4
8</div>
                                        <br>
                                        <a href="{% url 'code' '9' %}" class="btn btn-primary">Try it yourself</a>
                                        <a class="solved" href="#" class="btn btn-primary"></a>
                                    </div>
                                    <hr>
                                    <div>
                                        <h5 class="mb-3">Problem 10: Recursion Challenge - Fibonacci Sequence</h5>
                                        <p>
                                            In the Fibonacci sequence, each number is the sum of the two preceding ones, starting from 0 and 1. The task is to write a recursive function called fibonacci that takes an integer n as an argument and returns the nth Fibonacci number. Your program should calculate the 4th and 10th fibonacci numbers.
                                            <br>
                                            E.g.
                                            <br>
                                            <code>
                                                fibonacci(4)
                                                <br>
                                                fibonacci(10)
                                            </code>
                                            <br>
                                            More information about the fibonacci sequence can be found <a href="https://www.mathsisfun.com/numbers/fibonacci-sequence.html">here</a>.
                                            <br>
                                            Target output:
                                        </p>
                                        <div id="result10">3
55</div>
                                        <br>
                                        <a href="{% url 'code' '10' %}" class="btn btn-primary">Try it yourself</a>
                                        <a class="solved" href="#" class="btn btn-primary"></a>
                                    </div>
                                    <br>
                                    <hr class="mb-0">
                                    <div class="row my-3">
                                        <div class="col-12 text-center">
                                            <button class="btn btn-primary" onclick="window.location.href='/problems/solutions'">Solutions</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        {% include 'footer.html' %}
    </body>
    <script src="{% static 'js/ace-src-noconflict/ace.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/sb-admin-2/sb-admin-2.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/start-web-app/problems.js' %}" type="text/javascript" charset="utf-8"></script>

    <script src="{% static 'js/sb-admin-2/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/sb-admin-2/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/sb-admin-2/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
</html>