{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>START | Problems</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <link rel="stylesheet" href="{% static 'css/sb-admin-2.css' %}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    </head>
    <body>
        {% include 'header.html' %}

        <div id="wrapper" class="d-flex flex-column">
            <div id="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card card-main shadow mb-4">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Learn</h6>
                                </div>
                                <div class="card-body">
                                    <p>Here you can find various programming challenges to test what you have learned.</p>
                                    <h4>Problems</h4>
                                    <br>
                                    <h6>Problem 1: Hello World!</h6>
                                    <p>Write a program that outputs the message “Hello World” using the built-in write() function.</p>
                                    <p>Target output:</p>
                                    <div id="result1">Hello World</div>
                                    <br>
                                    <a href="{% url 'code' '1' %}" id="problem1" class="btn btn-primary">Try it yourslef</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        {% include 'footer.html' %}
    </body>
    <script src="{% static 'js/ace-src-noconflict/ace.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/sb-admin-2/sb-admin-2.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/start-web-app/problems.js' %}" type="text/javascript" charset="utf-8"></script>

    <script src="{% static 'js/sb-admin-2/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/sb-admin-2/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/sb-admin-2/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
</html>