{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>START | Problems</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <link rel="stylesheet" href="{% static 'css/sb-admin-2.css' %}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    </head>
    <body>
        {% include 'header.html' %}

        <div id="wrapper" class="d-flex flex-column">
            <div id="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card card-main shadow mb-4">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Problems</h6>
                                </div>
                                <div id="learn-doc" class="card-body">
                                    <h2>Solutions</h2>
                                    <hr><br>
                                    <div class="row">
                                        <div class="col-12">
                                            <h5>Problem 1: Hello World!</h5>
                                            <iframe 
                                                style="width: 100%;
                                                    height: 500px;
                                                    border-style: solid;
                                                    border-width: 1px;
                                                    border-color: black;
                                                    border-radius: 1rem;"
                                                src="https://www.youtube.com/embed/T9RUgSxXH4w?si=iHX54Fa-JJd-u816"
                                                title="YouTube video player"
                                                frameborder="0" 
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                                                referrerpolicy="strict-origin-when-cross-origin" 
                                                allowfullscreen
                                            >
                                            </iframe>
                                        </div>
                                    </div>
                                    <hr><br>
                                    <div class="row">
                                        <div class="col-12">
                                            <h5>Problem 2: Your Name Here</h5>
                                            <iframe 
                                            style="width: 100%;
                                                    height: 500px;
                                                    border-style: solid;
                                                    border-width: 1px;
                                                    border-color: black;
                                                    border-radius: 1rem;"
                                                src="https://www.youtube.com/embed/NAWuFIIWUA8?si=KkMu8b5RU9GXOvDg"
                                                title="YouTube video player"
                                                frameborder="0" 
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                                                referrerpolicy="strict-origin-when-cross-origin" 
                                                allowfullscreen
                                                >
                                            </iframe>
                                        </div>
                                    </div>
                                    <hr><br>
                                    <div class="row">
                                        <div class="col-12">
                                            <h5>Problem 3: Bank Balance</h5>
                                            <iframe 
                                                style="width: 100%;
                                                    height: 500px;
                                                    border-style: solid;
                                                    border-width: 1px;
                                                    border-color: black;
                                                    border-radius: 1rem;"
                                                src="https://www.youtube.com/embed/ihf1_mgQtN4?si=0BtFunmfgFp6qzsS"
                                                title="YouTube video player"
                                                frameborder="0" 
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                                                referrerpolicy="strict-origin-when-cross-origin" 
                                                allowfullscreen
                                            >
                                            </iframe>
                                        </div>
                                    </div>
                                    <hr><br>
                                    <div class="row">
                                        <div class="col-12">
                                            <h5>Problem 4: Even or Odd</h5>
                                            <iframe 
                                                style="width: 100%;
                                                    height: 500px;
                                                    border-style: solid;
                                                    border-width: 1px;
                                                    border-color: black;
                                                    border-radius: 1rem;"
                                                src="https://www.youtube.com/embed/6WNY9f4QJ_c?si=3PehZKiEnyHCR1pa"
                                                title="YouTube video player"
                                                frameborder="0" 
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                                                referrerpolicy="strict-origin-when-cross-origin" 
                                                allowfullscreen
                                            >
                                            </iframe>
                                        </div>
                                    </div>
                                    <hr><br>
                                    <div class="row">
                                        <div class="col-12">
                                            <h5>Problem 5: Temperature Converter</h5>
                                            <iframe 
                                                style="width: 100%;
                                                    height: 500px;
                                                    border-style: solid;
                                                    border-width: 1px;
                                                    border-color: black;
                                                    border-radius: 1rem;"
                                                src="https://www.youtube.com/embed/Fnj7EydnfNQ?si=IWNzcMAVa9abQJ7J"
                                                title="YouTube video player"
                                                frameborder="0" 
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                                                referrerpolicy="strict-origin-when-cross-origin" 
                                                allowfullscreen
                                            >
                                            </iframe>
                                        </div>
                                    </div>
                                    <hr><br>
                                    <div class="row">
                                        <div class="col-12">
                                            <h5>Problem 6: List Operations</h5>
                                            <iframe 
                                                style="width: 100%;
                                                    height: 500px;
                                                    border-style: solid;
                                                    border-width: 1px;
                                                    border-color: black;
                                                    border-radius: 1rem;"
                                                src="https://www.youtube.com/embed/rwEaYi8Oit4?si=1U_nINxBGayraMgE"
                                                title="YouTube video player"
                                                frameborder="0" 
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                                                referrerpolicy="strict-origin-when-cross-origin" 
                                                allowfullscreen
                                            >
                                            </iframe>
                                        </div>
                                    </div>
                                    <hr><br>
                                    <div class="row">
                                        <div class="col-12">
                                            <h5>Problem 7: Is List Index Even Or Odd</h5>
                                            <iframe 
                                                style="width: 100%;
                                                    height: 500px;
                                                    border-style: solid;
                                                    border-width: 1px;
                                                    border-color: black;
                                                    border-radius: 1rem;"
                                                src="https://www.youtube.com/embed/WK1rO-y21ak?si=xOvUyQbBmyaJt7ZQ"
                                                title="YouTube video player"
                                                frameborder="0" 
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                                                referrerpolicy="strict-origin-when-cross-origin" 
                                                allowfullscreen
                                            >
                                            </iframe>
                                        </div>
                                    </div>
                                    <hr><br>
                                    <div class="row">
                                        <div class="col-12">
                                            <h5>Problem 8: Count Evens</h5>
                                            <iframe 
                                                style="width: 100%;
                                                    height: 500px;
                                                    border-style: solid;
                                                    border-width: 1px;
                                                    border-color: black;
                                                    border-radius: 1rem;"
                                                src="https://www.youtube.com/embed/epB89bt6SfQ?si=f9qvCxrNh6Ls_aLx"
                                                title="YouTube video player"
                                                frameborder="0" 
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                                                referrerpolicy="strict-origin-when-cross-origin" 
                                                allowfullscreen
                                            >
                                            </iframe>
                                        </div>
                                    </div>
                                    <hr><br>
                                    <div class="row">
                                        <div class="col-12">
                                            <h5>Problem 9: Reuse Add 2</h5>
                                            <iframe 
                                                style="width: 100%;
                                                    height: 500px;
                                                    border-style: solid;
                                                    border-width: 1px;
                                                    border-color: black;
                                                    border-radius: 1rem;"
                                                src="https://www.youtube.com/embed/z2_MrxJpJ04?si=S8VpeKPK_7GIAHnm"
                                                title="YouTube video player"
                                                frameborder="0" 
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                                                referrerpolicy="strict-origin-when-cross-origin" 
                                                allowfullscreen
                                            >
                                            </iframe>
                                        </div>
                                    </div>
                                    <hr><br>
                                    <div class="row">
                                        <div class="col-12">
                                            <h5>Problem 10: Recursion Challenge - Fibonacci Sequence</h5>
                                            <iframe 
                                                style="width: 100%;
                                                    height: 500px;
                                                    border-style: solid;
                                                    border-width: 1px;
                                                    border-color: black;
                                                    border-radius: 1rem;"
                                                src="https://www.youtube.com/embed/ydsjOp6xQkY?si=yYlWQlQKXq7XCE1F"
                                                title="YouTube video player"
                                                frameborder="0" 
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                                                referrerpolicy="strict-origin-when-cross-origin" 
                                                allowfullscreen
                                            >
                                            </iframe>
                                        </div>
                                    </div>
                                    <br>
                                    <hr class="mb-0">
                                    <div class="row my-3">
                                        <div class="col-12 text-center">
                                            <a class="d-inline" href="{% url 'problems' %}">Back to Problems Page</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        {% include 'footer.html' %}
    </body>
    <script src="{% static 'js/sb-admin-2/sb-admin-2.js' %}" type="text/javascript" charset="utf-8"></script>

    <script src="{% static 'js/sb-admin-2/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/sb-admin-2/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/sb-admin-2/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
</html>