body {
    background-color: grey;
}

.breakpoint {
    position: relative;
    top: -12.5px;
    left: -13.5px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    margin: 0 auto;
}
.ace_gutter-cell.ace_breakpoint{
    border-radius: 20px 0px 0px 20px;
    box-shadow: 0px 0px 1px 1px red inset;
}

.myMarker {
    position:absolute;
    background:yellow;
    z-index:20
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #fff !important;
    border: 1px solid #e3e6f0;
    padding: 0.5rem;
}

.ace_editor {
    border-radius: 0.35rem;
}

#memoryTable {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    border: 1px solid #e3e6f0;
}

#memoryContent {
    width: 100%;
    table-layout: fixed;
}


#memoryContent th {
    width: 50%;
    text-align: center;
}

#memoryContent td {
    width: 50%;
    white-space: nowrap;
    overflow-x: auto;
}

.ide-btn {
    border-radius: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.tw-toggle {
    display: inline-block;
    padding: 2px 3px;
    border-radius: 20px;
    position: relative;
    border: 2px solid #95A5A6;
}

.tw-toggle label {
    text-align: center;
    font-family: sans-serif;
    display: inline-block;
    color: #95A5A6;
    position: relative;
    width: 100%;
    z-index: 2;
    margin: 0;
    text-align: center;
    padding: 3px 8px;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
}

.tw-toggle input {
    position: absolute;
    height: 25px;
    width: 25px;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}
  
.tw-toggle input[value="false"]:checked + label,
.tw-toggle input[value="true"]:checked + label,
.tw-toggle input[value="-1"]:checked + label {
    color:#fff;
    background-color: #95A5A6;
    border-radius: 1rem;
}

#modal{
    position:fixed;
    top:25%;
    left:0;

    width: 100%;

    overflow: hidden;
}

#modalBody {
    max-height: calc(50vh - 52px);
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.confsave {
    z-index: 1100;
    height: auto;
    width: 100%;
    background-color: #f8f9fc;
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color: #e3e6f0;
    padding: 10px 0 10px 0;
    border-radius: 0 0 0.35rem 0.35rem;
}

.disabled {
    pointer-events: none;
}

#message {
    position: fixed;
    display: flex;
    width: 98%;
    margin-left: 1%;
    top: 10px;
    border-width: 0 0 0 10px;
    border-style: solid;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    z-index: 1000;
}

#message p {
    color: black;
}

#message.message-success {
    border-color: green;
    background-color: rgb(118, 205, 118);
}

#message.message-warn {
    border-color: orange;
    background-color: rgb(255, 226, 10);
}

#message.message-info {
    border-color: blue;
    background-color: rgb(118, 205, 205);
}

#message.message-error {
    border-color: red;
    background-color: rgb(255, 88, 88);
}

